$colorBorderLight: #c5c5c5;
$colorBorder: #4b4b4b;
$colorFontePrimary: #d8d8d8;
$colorFonteSecundary: #2c2c2c;
$colorWhite: #ffffff;
$colorBlack: #000000;

:root{
    --fonteSize: 12px;
    --fonteSubTitle: 14px;
    --fonteTitle: 16px;
    --fonteMenu: 18px;
}


